[submodule "sandevistan42/kbd"]
	path = sandevistan42/pcb/footprints/kbd
	url = https://github.com/foostan/kbd.git
[submodule "sandevistan42/vik"]
	path = sandevistan42/pcb/footprints/vik
	url = https://github.com/sadekbaroudi/vik.git
[submodule "sandevistan42/marbastlib"]
	path = sandevistan42/pcb/footprints/marbastlib
	url = https://github.com/ebastler/marbastlib.git
[submodule "sandevistan42/kiswitch"]
	path = sandevistan42/pcb/footprints/kiswitch
	url = https://github.com/islathehut/kiswitch.git
